body {
  font-family: "Cairo", serif;
}
.parent2 {
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  padding: 20px 0 50px;
  width: 100%;
}

.parent2>h2 {
  margin-bottom: 30px;
}

.parent2 div {
  background-color: white;
  margin: 0 auto;
  width: 300px;
  padding: 5px 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.parent2 div:not(:last-child) {
  margin-bottom: 20px;
}

.parent2 div ul li {
  list-style: none;
}

.parent2 div ul li a {
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.parent2 div ul li:not(:last-child) {
  margin-bottom: 5px;
}

.parent2 .one h2 {
  color: rgb(255, 0, 43);
}

.parent2 .two h2 {
  color: rgb(50, 255, 50);
}

.parent2 .three h2 {
  color: rgb(62, 62, 255);
}

.parent2 .four h2 {
  color: rgb(255, 178, 34);
}